In [14]:
import pandas as pd
# FIFA TEAM STATS FOR WC 2018 upto R16
df = pd.read_csv('fifa_team_stats.csv')
# MATCHES RESULTS IN WC 2018 upto R16
matches = pd.read_csv('ALL_MATCHES.csv')
matches.head()

,Team_2,Team_1,matches_played_2,matches_played_1,goals_scored_2,goals_scored_1,goals_against_2,goals_against_1,shots_attempted_2,shots_attempted_1,attempts_on_target_2,attempts_on_target_1,attempts_off_target_2,attempts_off_target_1,shots_blocked_2,shots_blocked_1,clearances_2,clearances_1,results
0,Saudi Arabia,Russia,3,4,2,8,7,5,36,33,10,12,16,12,10,9,67,133,1
1,Uruguay,Egypt,4,3,6,2,1,6,50,29,18,5,20,17,12,7,88,95,0
2,Iran,Morocco,3,3,1,2,2,4,21,35,4,10,15,18,2,7,91,62,0
3,Spain,Portugal,4,4,6,6,6,6,70,52,21,14,28,20,21,18,36,87,0
4,Australia,France,3,4,2,6,5,4,32,45,8,17,14,20,10,8,83,84,1

In [15]:

# Normailizing
matches['goals_scored_1']=matches['goals_scored_1']/matches['matches_played_1']

matches['goals_scored_2']=matches['goals_scored_2']/matches['matches_played_2']

matches['goals_against_2']=matches['goals_against_2']/matches['matches_played_2']

matches['attempts_on_target_2']=matches['attempts_on_target_2']/matches['matches_played_2']

matches['shots_attempted_2']=matches['shots_attempted_2']/matches['matches_played_2']

matches['attempts_off_target_2']=matches['attempts_off_target_2']/matches['matches_played_2']

matches['shots_blocked_2']=matches['shots_blocked_2']/matches['matches_played_2']

matches['clearances_2']=matches['clearances_2']/matches['matches_played_2']

matches['goals_against_1']=matches['goals_against_1']/matches['matches_played_1']

matches['attempts_on_target_1']=matches['attempts_on_target_1']/matches['matches_played_1']

matches['shots_attempted_1']=matches['shots_attempted_1']/matches['matches_played_1']

matches['attempts_off_target_1']=matches['attempts_off_target_1']/matches['matches_played_1']

matches['shots_blocked_1']=matches['shots_blocked_1']/matches['matches_played_1']

matches['clearances_1']=matches['clearances_1']/matches['matches_played_1']

matches.head()
matches_2 = pd.DataFrame()
visited=[]
for col in matches.columns:
    c_name = str(col)
    if ('result' not in c_name):
        col_names = c_name.split('_')
        y = len(col_names)
        c_name_2 = ""
        for j in range(y-1):
            if (c_name_2):
                c_name_2 = c_name_2 + "_"
            c_name_2=c_name_2 + col_names[j]
        if (c_name_2 not in visited):
            matches_2[c_name_2+"_1"]=matches[col]
            visited.append(c_name_2)
        else:
            matches_2[c_name_2+"_2"]=matches[col]
    else:
        matches_2['results']=1-matches['results']
matches_2.head()
matches=matches.append(matches_2)
matches = matches.reset_index(drop=True)
matches[matches['Team_1']=='Russia']

,Team_1,Team_2,attempts_off_target_1,attempts_off_target_2,attempts_on_target_1,attempts_on_target_2,clearances_1,clearances_2,goals_against_1,goals_against_2,goals_scored_1,goals_scored_2,matches_played_1,matches_played_2,results,shots_attempted_1,shots_attempted_2,shots_blocked_1,shots_blocked_2
0,Russia,Saudi Arabia,3.0,5.333333,3.0,3.333333,33.25,22.333333,1.25,2.333333,2.0,0.666667,4,3,1,8.25,12.000000,2.25,3.333333
16,Russia,Egypt,3.0,5.666667,3.0,1.666667,33.25,31.666667,1.25,2.000000,2.0,0.666667,4,3,1,8.25,9.666667,2.25,2.333333
88,Russia,Uruguay,3.0,5.000000,3.0,4.500000,33.25,22.000000,1.25,0.250000,2.0,1.500000,4,4,0,8.25,12.500000,2.25,3.000000
106,Russia,Spain,3.0,7.000000,3.0,5.250000,33.25,9.000000,1.25,1.500000,2.0,1.500000,4,4,1,8.25,17.500000,2.25,5.250000

In [16]:
#Difference in Opposing Teams
matches['diff_goals_scored']=matches['goals_scored_1']-matches['goals_scored_2']

matches['diff_goals_against']=matches['goals_against_1']-matches['goals_against_2']

matches['diff_attempts_on_target']=matches['attempts_on_target_1']-matches['attempts_on_target_2']

matches['diff_shots_attempted']=matches['shots_attempted_1']-matches['shots_attempted_2']

matches['diff_attempts_off_target']=matches['attempts_off_target_1']-matches['attempts_off_target_2']

matches['diff_shots_blocked']=matches['shots_blocked_1']-matches['shots_blocked_2']

matches['diff_clearances']=matches['clearances_1']-matches['clearances_2']

matches.head()

,Team_1,Team_2,attempts_off_target_1,attempts_off_target_2,attempts_on_target_1,attempts_on_target_2,clearances_1,clearances_2,goals_against_1,goals_against_2,...,shots_attempted_2,shots_blocked_1,shots_blocked_2,diff_goals_scored,diff_goals_against,diff_attempts_on_target,diff_shots_attempted,diff_attempts_off_target,diff_shots_blocked,diff_clearances
0,Russia,Saudi Arabia,3.000000,5.333333,3.000000,3.333333,33.250000,22.333333,1.250000,2.333333,...,12.000000,2.250000,3.333333,1.333333,-1.083333,-0.333333,-3.750000,-2.333333,-1.083333,10.916667
1,Egypt,Uruguay,5.666667,5.000000,1.666667,4.500000,31.666667,22.000000,2.000000,0.250000,...,12.500000,2.333333,3.000000,-0.833333,1.750000,-2.833333,-2.833333,0.666667,-0.666667,9.666667
2,Morocco,Iran,6.000000,5.000000,3.333333,1.333333,20.666667,30.333333,1.333333,0.666667,...,7.000000,2.333333,0.666667,0.333333,0.666667,2.000000,4.666667,1.000000,1.666667,-9.666667
3,Portugal,Spain,5.000000,7.000000,3.500000,5.250000,21.750000,9.000000,1.500000,1.500000,...,17.500000,4.500000,5.250000,0.000000,0.000000,-1.750000,-4.500000,-2.000000,-0.750000,12.750000
4,France,Australia,5.000000,4.666667,4.250000,2.666667,21.000000,27.666667,1.000000,1.666667,...,10.666667,2.000000,3.333333,0.833333,-0.666667,1.583333,0.583333,0.333333,-1.333333,-6.666667

In [17]:
#Training Data
columns_of_interest = ['diff_goals_scored','diff_goals_against','diff_attempts_on_target','diff_shots_attempted','diff_attempts_off_target','diff_shots_blocked','diff_clearances']    

train_X = matches[columns_of_interest]

train_Y = matches['results']

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100)

train_X[train_X.isnull()]
train_X=train_X.dropna()

rf.fit(train_X,train_Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [18]:
#Function to return weight of wining of team_1 against team_2

def winning_probability (team_1,team_2):
    test_matches = pd.DataFrame()
    
    for i in range(len(team_1)):
        first = pd.DataFrame(df[df['Team']==team_1[i]])
        second = pd.DataFrame(df[df['Team']==team_2[i]])
        first = first.reset_index(drop=True)
        second = second.reset_index(drop=True)
        res = pd.DataFrame()

        for col in df.columns:
            res[col+"_1"]=pd.DataFrame(first[col])
            res[col+"_2"]=pd.DataFrame(second[col])
			
        test_matches = test_matches.append(res)
        
        test_matches['goals_scored_1']=test_matches['goals_scored_1']/test_matches['matches_played_1']

        test_matches['goals_scored_2']=test_matches['goals_scored_2']/test_matches['matches_played_2']

        test_matches['goals_against_2']=test_matches['goals_against_2']/test_matches['matches_played_2']

        test_matches['attempts_on_target_2']=test_matches['attempts_on_target_2']/test_matches['matches_played_2']

        test_matches['shots_attempted_2']=test_matches['shots_attempted_2']/test_matches['matches_played_2']

        test_matches['attempts_off_target_2']=test_matches['attempts_off_target_2']/test_matches['matches_played_2']

        test_matches['shots_blocked_2']=test_matches['shots_blocked_2']/test_matches['matches_played_2']

        test_matches['clearances_2']=test_matches['clearances_2']/test_matches['matches_played_2']

        test_matches['goals_against_1']=test_matches['goals_against_1']/test_matches['matches_played_1']

        test_matches['attempts_on_target_1']=test_matches['attempts_on_target_1']/test_matches['matches_played_1']

        test_matches['shots_attempted_1']=test_matches['shots_attempted_1']/test_matches['matches_played_1']

        test_matches['attempts_off_target_1']=test_matches['attempts_off_target_1']/test_matches['matches_played_1']

        test_matches['shots_blocked_1']=test_matches['shots_blocked_1']/test_matches['matches_played_1']

        test_matches['clearances_1']=test_matches['clearances_1']/test_matches['matches_played_1']

        test_matches['diff_goals_scored']=test_matches['goals_scored_1']-test_matches['goals_scored_2']
    
        test_matches['diff_goals_against']=test_matches['goals_against_1']-test_matches['goals_against_2']
    
        test_matches['diff_attempts_on_target']=test_matches['attempts_on_target_1']-test_matches['attempts_on_target_2']
    
        test_matches['diff_shots_attempted']=test_matches['shots_attempted_1']-test_matches['shots_attempted_2']
       
        test_matches['diff_attempts_off_target']=test_matches['attempts_off_target_1']-test_matches['attempts_off_target_2']
    
        test_matches['diff_shots_blocked']=test_matches['shots_blocked_1']-test_matches['shots_blocked_2']
        
        test_matches['diff_clearances']=matches['clearances_1']-matches['clearances_2']
    
        test_X = test_matches[columns_of_interest]
    
        test_X[test_X.isnull()]
    
        test_X=test_X.dropna()
        pred_Y = rf.predict(test_X)
        return pred_Y[0]

#Function to return probability of winning of Team 1 against Team 2

def get_probability (team_1,team_2):
    X1 = winning_probability(team_1,team_2)
    X2 = winning_probability(team_2,team_1)
    X = X1/(X1+X2)
    return X

In [21]:
# Quarter Finals Winning Probabilites: #
print ('Uruguay vs France -> %f' %(get_probability(['Uruguay'],['France'])))
print ('Belgium vs Brazil -> %f' %(get_probability(['Belgium'],['Brazil'])))
print ('England vs Sweden -> %f' %(get_probability(['England'],['Sweden'])))
print ('Croatia vs Russia -> %f' %(get_probability(['Croatia'],['Russia'])))

Uruguay vs France -> 0.765432
Belgium vs Brazil -> 0.652174
England vs Sweden -> 0.942029
Croatia vs Russia -> 0.516129