In [12]:
import pandas as pd
# FIFA TEAM STATS FOR WC 2018 upto R16
df = pd.read_csv('fifa_team_stats.csv')
# MATCHES RESULTS IN WC 2018 upto R16
matches = pd.read_csv('ALL_MATCHES.csv')
matches.head()

,Team_2,Team_1,matches_played_2,matches_played_1,goals_scored_2,goals_scored_1,goals_against_2,goals_against_1,shots_attempted_2,shots_attempted_1,attempts_on_target_2,attempts_on_target_1,attempts_off_target_2,attempts_off_target_1,shots_blocked_2,shots_blocked_1,results
0,Saudi Arabia,Russia,3,4,2,9,7,5,36,33,10,12,16,12,10,9,1
1,Uruguay,Egypt,4,3,7,2,1,6,50,29,18,5,20,17,12,7,0
2,Iran,Morocco,3,3,2,2,2,4,21,35,4,10,15,18,2,7,0
3,Spain,Portugal,4,4,7,6,6,6,70,52,21,14,28,20,21,18,0
4,Australia,France,3,4,2,7,5,4,32,45,8,17,14,20,10,8,1

In [14]:

# Normailizing
matches['goals_scored_1']=matches['goals_scored_1']/matches['matches_played_1']

matches['goals_scored_2']=matches['goals_scored_2']/matches['matches_played_2']

matches['goals_against_2']=matches['goals_against_2']/matches['matches_played_2']

matches['attempts_on_target_2']=matches['attempts_on_target_2']/matches['matches_played_2']

matches['shots_attempted_2']=matches['shots_attempted_2']/matches['matches_played_2']

matches['attempts_off_target_2']=matches['attempts_off_target_2']/matches['matches_played_2']

matches['shots_blocked_2']=matches['shots_blocked_2']/matches['matches_played_2']

matches['goals_against_1']=matches['goals_against_1']/matches['matches_played_1']

matches['attempts_on_target_1']=matches['attempts_on_target_1']/matches['matches_played_1']

matches['shots_attempted_1']=matches['shots_attempted_1']/matches['matches_played_1']

matches['attempts_off_target_1']=matches['attempts_off_target_1']/matches['matches_played_1']

matches['shots_blocked_1']=matches['shots_blocked_1']/matches['matches_played_1']
matches.head()

,Team_2,Team_1,matches_played_2,matches_played_1,goals_scored_2,goals_scored_1,goals_against_2,goals_against_1,shots_attempted_2,shots_attempted_1,attempts_on_target_2,attempts_on_target_1,attempts_off_target_2,attempts_off_target_1,shots_blocked_2,shots_blocked_1,results
0,Saudi Arabia,Russia,3,4,0.222222,0.562500,0.777778,0.312500,4.000000,2.062500,1.111111,0.750000,1.777778,0.750000,1.111111,0.562500,1
1,Uruguay,Egypt,4,3,0.437500,0.222222,0.062500,0.666667,3.125000,3.222222,1.125000,0.555556,1.250000,1.888889,0.750000,0.777778,0
2,Iran,Morocco,3,3,0.222222,0.222222,0.222222,0.444444,2.333333,3.888889,0.444444,1.111111,1.666667,2.000000,0.222222,0.777778,0
3,Spain,Portugal,4,4,0.437500,0.375000,0.375000,0.375000,4.375000,3.250000,1.312500,0.875000,1.750000,1.250000,1.312500,1.125000,0
4,Australia,France,3,4,0.222222,0.437500,0.555556,0.250000,3.555556,2.812500,0.888889,1.062500,1.555556,1.250000,1.111111,0.500000,1

In [15]:
#Difference in Opposing Teams
matches['diff_goals_scored']=matches['goals_scored_1']-matches['goals_scored_2']

matches['diff_goals_against']=matches['goals_against_1']-matches['goals_against_2']

matches['diff_attempts_on_target']=matches['attempts_on_target_1']-matches['attempts_on_target_2']

matches['diff_shots_attempted']=matches['shots_attempted_1']-matches['shots_attempted_2']

matches['diff_attempts_off_target']=matches['attempts_off_target_1']-matches['attempts_off_target_2']

matches['diff_shots_blocked']=matches['shots_blocked_1']-matches['shots_blocked_2']
matches.head()

,Team_2,Team_1,matches_played_2,matches_played_1,goals_scored_2,goals_scored_1,goals_against_2,goals_against_1,shots_attempted_2,shots_attempted_1,...,attempts_off_target_1,shots_blocked_2,shots_blocked_1,results,diff_goals_scored,diff_goals_against,diff_attempts_on_target,diff_shots_attempted,diff_attempts_off_target,diff_shots_blocked
0,Saudi Arabia,Russia,3,4,0.222222,0.562500,0.777778,0.312500,4.000000,2.062500,...,0.750000,1.111111,0.562500,1,0.340278,-0.465278,-0.361111,-1.937500,-1.027778,-0.548611
1,Uruguay,Egypt,4,3,0.437500,0.222222,0.062500,0.666667,3.125000,3.222222,...,1.888889,0.750000,0.777778,0,-0.215278,0.604167,-0.569444,0.097222,0.638889,0.027778
2,Iran,Morocco,3,3,0.222222,0.222222,0.222222,0.444444,2.333333,3.888889,...,2.000000,0.222222,0.777778,0,0.000000,0.222222,0.666667,1.555556,0.333333,0.555556
3,Spain,Portugal,4,4,0.437500,0.375000,0.375000,0.375000,4.375000,3.250000,...,1.250000,1.312500,1.125000,0,-0.062500,0.000000,-0.437500,-1.125000,-0.500000,-0.187500
4,Australia,France,3,4,0.222222,0.437500,0.555556,0.250000,3.555556,2.812500,...,1.250000,1.111111,0.500000,1,0.215278,-0.305556,0.173611,-0.743056,-0.305556,-0.611111

In [16]:
#Training Data
columns_of_interest = ['diff_goals_scored','diff_goals_against','diff_attempts_on_target','diff_shots_attempted','diff_attempts_off_target','diff_shots_blocked']    

train_X = matches[columns_of_interest]

train_Y = matches['results']

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100)

train_X[train_X.isnull()]
train_X=train_X.dropna()

rf.fit(train_X,train_Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [17]:
#Function to return weight of wining of team_1 against team_2

def winning_probability (team_1,team_2):
    test_matches = pd.DataFrame()
    
    for i in range(len(team_1)):
        first = pd.DataFrame(df[df['Team']==team_1[i]])
        second = pd.DataFrame(df[df['Team']==team_2[i]])
        first = first.reset_index(drop=True)
        second = second.reset_index(drop=True)
        res = pd.DataFrame()

        for col in df.columns:
            res[col+"_1"]=pd.DataFrame(first[col])
            res[col+"_2"]=pd.DataFrame(second[col])
        for col in df.columns:
            res[col+"_2"]=pd.DataFrame(second[col])
            res[col+"_1"]=pd.DataFrame(first[col])
			
        test_matches = test_matches.append(res)
        
        test_matches['diff_goals_scored']=test_matches['goals_scored_1']-test_matches['goals_scored_2']
    
        test_matches['diff_goals_against']=test_matches['goals_against_1']-test_matches['goals_against_2']
    
        test_matches['diff_attempts_on_target']=test_matches['attempts_on_target_1']-test_matches['attempts_on_target_2']
    
        test_matches['diff_shots_attempted']=test_matches['shots_attempted_1']-test_matches['shots_attempted_2']
       
        test_matches['diff_attempts_off_target']=test_matches['attempts_off_target_1']-test_matches['attempts_off_target_2']
    
        test_matches['diff_shots_blocked']=test_matches['shots_blocked_1']-test_matches['shots_blocked_2']
    
        test_X = test_matches[columns_of_interest]
    
        test_X[test_X.isnull()]
    
        test_X=test_X.dropna()
        pred_Y = rf.predict(test_X)
        return pred_Y[0]

#Function to return probability of winning of Team 1 against Team 2

def get_probability (team_1,team_2):
    X1 = winning_probability(team_1,team_2)
    X2 = winning_probability(team_2,team_1)
    X = X1/(X1+X2)
    return X

In [20]:
# Quarter Finals Winning Probabilites: #
print ('Uruguay vs France -> %f' %(get_probability(['Uruguay'],['France'])))
print ('Belgium vs Brazil -> %f' %(get_probability(['Belgium'],['Brazil'])))
print ('England vs Sweden -> %f' %(get_probability(['England'],['Sweden'])))
print ('Croatia vs Russia -> %f' %(get_probability(['Croatia'],['Russia'])))

Uruguay vs France -> 0.901961
Belgium vs Brazil -> 0.464912
England vs Sweden -> 0.435897
Croatia vs Russia -> 0.581967